.order-container{
    /* width: 100%; */
    display: grid;
    margin: 0 1vw;
}

.order-table{
    display: table;
    text-align: center;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgba(131, 129, 129, 0.603);
    margin-bottom: 1vh;
}

.order-header {
    display: flex;
    text-align: center;
    margin-bottom: 1vw;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin-top: 1vw;
}

.header-buttons-container {
    display: flex;
    height: 100%;
    border-radius: 15px;
    border: solid black;
}

.header-buttons {
    border: none;
    background-color: transparent;
    column-gap: 10%;
}

.header-buttons:hover {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.header-buttons:active {
    background-color: black;
    color: white
}